.footer {
   position: fixed;
   height: 70px;
   width: 100%;
   background-color: rgb(31, 31, 37);
   bottom: 0;
}

ul {
   display: flex;
   justify-content: center;
   gap: 30px;
}

li {
   list-style-type: none;
}
li a:visited {
   color: white;
}
li a:focus {
   color: rgb(167, 190, 194);
}
li a:hover {
   color: rgb(115, 131, 134);
}
