.loginContainer {
   background-color: rgb(187, 183, 183);
   width: 250px;
   padding: 20px;
   border: 1px solid rgb(31, 31, 37);
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 30px;
}

.title {
   margin: 0;
   margin-bottom: 10px;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.inputContainer {
   display: flex;
   flex-direction: column;
   gap: 2px;
}

input {
   height: 30px;
   border-radius: 5px;
   border: none;
}

button {
   width: 100px;
   flex-direction: flex-end;
   margin: 0 auto;
   margin-top: 10px;
   height: 30px;
   border-radius: 5px;
   border: none;
}

button:hover {
   background-color: rgb(31, 31, 37);
   color: white;
}
